.work h5 {
    margin: 0 0 20px 0;
    font-size: 15px;
    text-align: center;
}

.about--banner img {
    position: absolute;
    bottom: 150px;
    right: -300px;
}

.about--banner h2 {
    line-height: 1.5;
}

.linkedin-link {
    background-color: #0e76a8;
}

.github-link {
    background-color: #171515;
}

.whatsapp-link {
    background-color: #075E54;
}

.facebook-link {
    background-color: #3b5998;
}

.information-full textarea {
    background: transparent;
    border: medium none;
    width: 100%;
    height: 110px;
    max-width: 100%;
    max-height: 110px;
}

.information-full textarea:focus {
    outline: none;
}

.scroll-container {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.scroll-container span {
    margin-left: 5px;
    font-weight: bold;
}

.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
    position: relative;
    width: 25px;
    height: 45px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.work--slider {
  height: 400px;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}


/*Slider*/

.cd-slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.cd-slider.ie9 nav div span {
	display: none;
}
.cd-slider ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s .6s;
}
.cd-slider ul li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	width: 135vh;
	height: 135vh;
	border: solid rgba(0,0,0,0.2);
	border-width: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: border-width .4s .6s;
}
/*.content blockquote:before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  color: white;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
}*/
.cd-slider .content {
  cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	mix-blend-mode: lighten;
	opacity: 0;
	transform: scale(1.2);
	transition: opacity .4s .6s, transform .4s .6s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cd-slider .content blockquote {
	z-index: 2;
	max-width: 45%;
  padding: 10px;
  text-align: center;
  position: relative;
  max-height: 60%;
  overflow: hidden;
}
.cd-slider .content blockquote p {
	font-size: 28px;
	margin-bottom: 2rem;
  word-break: break-word;
}
.cd-slider .content blockquote span {
	font-size: 35px;
  text-transform: uppercase;
  word-break: break-word;
}
/* current slide
---------------------------------*/
.cd-slider li.current_slide {
	visibility: visible;
}
.cd-slider li.current_slide::before {
	border-width: 16rem;
}
.cd-slider li.current_slide .content {
	opacity: 1;
	transform: scale(1);
}
/* nav
---------------------------------*/
.cd-slider nav div {
	position: absolute;
	top: 50%;
	left: 4%;
	width: 3rem;
	height: 3rem;
	margin-top: -2.5rem;
	list-style: none;
}
.cd-slider nav div:last-of-type {
	left: auto;
	right: 4%;
}
.cd-slider .prev, .next {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 100%;
	transition: box-shadow .3s;
}
.cd-slider .prev::before, .cd-slider .prev::after, .cd-slider .next::before, .cd-slider .next::after {
	content: '';
	position: absolute;
	left: 40%;
	background: #fff;
	width: .4rem;
	min-width: 3px;
	border-radius: 3px;
	height: 34%;
}
.cd-slider .prev::before {
	transform: rotate(45deg);
	top: 24%;
}
.cd-slider .prev::after {
	transform: rotate(-45deg);
	bottom: 24%;
}
.cd-slider .next::before, .next::after {
	left: auto;
	right: 43%;
}
.cd-slider .next::before {
	transform: rotate(-45deg);
	top: 24%;
}
.cd-slider .next::after {
	transform: rotate(45deg);
	bottom: 24%;
}
.cd-slider .prev:hover, .next:hover {
	box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
.cd-slider nav > div > span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	z-index: 5;
	pointer-events: none;
	will-change: width, height;
	transform: translate(-50%, -50%);
	transition: width .6s, height .6s;
}

.details-modal {
	 background: #fff;
	 border-radius: 0.5em;
	 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	 left: 50%;
	 width: 60%;
	 position: absolute;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 text-align: left;
	 max-height: 90vh;
	 display: flex;
	 flex-direction: column;
   color: black;
   z-index: 999;
}
 .details-modal .details-modal-close {
	 align-items: center;
	 color: #111827;
	 display: flex;
	 height: 4.5em;
	 justify-content: center;
	 position: absolute;
	 right: 0;
	 top: 0;
	 width: 4.5em;
   z-index: 9999;
}
 .details-modal .details-modal-close svg {
	 display: block;
   cursor: pointer;
}
 .details-modal .details-modal-title {
	 color: #111827;
	 padding: 1.5em 2em;
	 position: relative;
	 width: calc(100% - 4.5em);
}
 .details-modal .details-modal-title h1 {
	 font-size: 1.25rem;
	 font-weight: 600;
	 line-height: normal;
}
 .details-modal .details-modal-content {
	 border-top: 1px solid #e0e0e0;
	 padding: 2em;
   padding-top: 0.5em;
	 overflow: auto;
}
.details-modal .details-modal-content h2 {
  color: #8b008b;
  font-weight: bold;
  text-transform: uppercase;
}
.details-modal .details-modal-content p {
  font-size: 16px;
}
 .details-modal-overlay {
	 transition: opacity 0.2s ease-out;
	 background: black;
	 position: fixed;
	 opacity: 0;
	 bottom: 0;
	 right: 0;
	 left: 0;
	 top: 0;
   z-index: 15;
   display: none;
}
body.details-opened .details-modal-overlay {
	 opacity: 0.5;
   display: block;
}

.details-container {
  display: none;
}

.details-container.details-opened {
  display: block;
}
.details-container.details-opened .details-modal {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) translate(-20%, 50%);
            transform: scale(0) translate(-20%, 50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0) translate(-100%, 0);
            transform: scale(0) translate(-100%, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.fade-out-modal {
	-webkit-animation: fade-out-modal 0.5s ease-out both;
	        animation: fade-out-modal 0.5s ease-out both;
}

.fade-out-overlay {
	-webkit-animation: fade-out-overlay 0.5s ease-out both;
	        animation: fade-out-overlay 0.5s ease-out both;
}

 @-webkit-keyframes fade-out-modal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-modal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-webkit-keyframes fade-out-overlay {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-overlay {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .intro--banner::before, .intro--banner::after {
    display: none;
  }
  
  .cd-slider .content blockquote p {
    font-size: 16px;
  }

  .cd-slider .content blockquote span {
    font-size: 20px;
  }

  .about--options > a {
    margin: 15px auto;
    width: 60%;
  }

  .work-request--information .information-half {
    font-size: 20px;
  }

  .outer-nav {
    left: 50%;
  }

  .about--banner h2, .intro--banner h1 {
    font-size: 40px;
    line-height: 1.5;
    word-break: break-word;
  }
  .details-modal {
    width: 90%;
  }

  .outer-nav > li {
    font-size: 25px;
  }

  .outer-nav > li::before {
    height: 8px;
  }

  .information-full textarea {
    font-size: 25px;
  }

  .work-request--information .information-full {
    font-size: 20px;
  }
}

#formSubmit {
  transition: 1.5s;
  margin-top: 15px;
}

#formSubmit img {
  display: none;
  width: 60px;
}

#formSubmit span {
  display: block;
}

#formSubmit:disabled {
  background-color: white;
}

#formSubmit:disabled img {
  display: block;
}

#formSubmit:disabled span {
  display: none;
}